/01FF00.dat
/03FF00.dat
/04FF00.dat
/05FF00.dat
/06FF00.dat
/07FF00.dat
/08FF00.dat
/09FF00.dat
/0AFF00.dat
/0BFF00.dat
/0CFF00.dat
/0DFF00.dat
/0EFF00.dat
/0FFF00.dat
/attack.bin
/notes.txt
/pract1.pdf
/rc4_ksaproc.pdf
/simul.bin